---
title: Key verification
---
# Key verification

In public key cryptography, each person has a set of keys. To send a message securely to a particular person, you encrypt your message using their public key. An attacker may be able to trick you into using their key, which means that they will be able to read your message, instead of the intended recipient. That means that you have to verify that a particular person is using a key. Key verification is any way that lets you match a key to a person.