---
title: Out-of-band verification
---
# Out-of-band verification

"Out-of-band" means any way of communicating outside of the current method. Verifying the identity of the person you're talking to over an insecure communication system often requires communicating out-of-band via another method that is less vulnerable to the same kind of attack. So, for instance, you might check that you are using someone's correct public key by talking to him or her in person, before using it to encrypt your email.